{% extends 'base.html.twig' %}

{% block title %}Hello ProfiloRapperController!{% endblock %}

{% block body %}
    <div class="container padding-mobile" style="margin-top: 1%">

        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child">

                            <div>
                                <figure class="image is-16by9">
                                    <img class="has-ratio" src="https://i.ytimg.com/vi/c66TfiSbpiU/maxresdefault.jpg" width="240" height="240">
                                </figure>
                            </div>
                        </article>
                        <!--
                        <div class="tile is-child" style="">
                            <p class="title">Sonny Purini</p>
                            <p class="subtitle">Digital Mafia / Kiazza di Sangue</p>
                        </div>
                        -->
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child">
                        <div class="">
                            <figure class="image is-16by9">
                                <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/W_LS_PKqEoQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </figure>
                        </div>
                    </article>
                </div>
            </div>

            <div class="tile is-parent">
                <div class="tile is-vertical is-8">
                    <article class="tile is-child">
                        <div class="content">
                            <p class="biografia-artista" style="text-align: left">Bio:
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae tristique est, porttitor finibus ipsum. Pellentesque eu eleifend orci. Nunc ut justo leo. Pellentesque venenatis augue leo, varius vulputate velit blandit vitae. Aliquam id justo aliqua
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae tristique est, porttitor finibus ipsum. Pellentesque eu eleifend orci. Nunc ut justo leo. Pellentesque venenatis augue leo, varius vulputate velit blandit vitae. Aliquam id justo aliqua

                            </p>
                        </div>
                    </article>

                    <article class="tile is-child">
                        <div class="content">
                            <p class="title" style="text-align: center">Album/Singoli:</p>
                            <div class="content">
                                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7nv1acHdrYXcfLkxVncgzv?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/1VQpxFFAYMsUmhsAnG4ls0?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                            </div>
                        </div>
                    </article>

                </div>
            </div>

        </div>

    </div>
{% endblock %}
