{% extends 'base.html.twig' %}

{% block title %}KIAZZA MOB ENT.®{% endblock %}

{% block body %}



{% include('home_page/elements/carosello.html.twig') %}

<div class="container padding-mobile">
    {% include('home_page/elements/sections-1.html.twig') %}
    {% include('home_page/elements/artist-card.html.twig') %}
    {% include('home_page/elements/artist-card.html.twig') %}
    {% include('home_page/elements/artist-card.html.twig') %}
    {% include('home_page/elements/artist-card.html.twig') %}

</div>


<script src="js/carousel.js"></script>

    <script>
        AOS.init();
    </script>

{% endblock %}
