<table class="table" style="width: 100%;border-radius: 4px;">
    <thead>
    <tr>
        <td>CodAuth</td>
        <td>Nome Provvisorio</td>
    </tr>
    </thead>
    <tbody>
    <tr>
    </tr>
    </tbody>
</table>