<table class="table" style="width: 100%;border-radius: 4px;">
    <thead>
    <tr>
        <td>ID</td>
        <td>Username</td>
        <td>Ruoli</td>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            {% if user.roles is not null %}
                <td>{{ user.roles | join(',') }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>