<table class="table" style="width: 100%;border-radius: 4px;">
    <thead>
    <tr>
        <td>Nome</td>
        <td>Email</td>
        <td>Post Pubblicati</td>
        <td>Ultimo accesso</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Sonny Purini</td>
        <td>simonedolce26@gmail.com</td>
        <td>3</td>
        <td>Oggi</td>
    </tr>
    </tbody>
</table>