 <div class="mySlides fade container">
        <div class="container-banner">
            <div class="image-container">
                <figure class="image is-16by9">
                    <img class="container-banner" src="https://i.ytimg.com/vi/zprtwuX4vww/maxresdefault.jpg">
                </figure>
            </div>

            <div class="text text-container">

                <h1 class="title is-5 title-article-mobile" style="color: #fffffe ">Uh che brutto questo signore che si lecca?</h1>

                <br>

                <p class="article-body" style="color: #fffffe ">
                </p>
            </div>
        </div>
    </div>

    <div class="mySlides fade container">
        <div class="container-banner">
            <div class="image-container">
                <figure class="image is-16by9">
                    <img src="https://wallpaperaccess.com/full/2918041.jpg">
                </figure>
            </div>
            <div class="text text-container">
                <h1 class="title is-5" style="color: #fffffe ">
                    Uh che brutto questo signore che si lecca?bhasfkjghj dhasfkjchkjashfkjhaskjdhfjklasjdkljasdjj
                </h1>

                <br>

                <p class="article-body" style="color: #fffffe ">
                    DSGDGSDGSDGSDGFSDSDFSFDSDCFDSFC
                </p>
            </div>
        </div>
    </div>

    <div class="mySlides fade container">
        <div class="container-banner">
            <div class="image-container">
                <figure class="image is-16by9">
                    <img class="container-banner" src="https://wallpaperaccess.com/full/2918041.jpg">
                </figure>
            </div>

            <div class="text text-container">

                <h1 class="title is-5" style="color: #fffffe ">Uh che brutto questo signore che si lecca?</h1>

                <br>

                <p class="article-body" style="color: #fffffe ">
                    DVFGFDGFDGFDSGGDSGDSG
                </p>
            </div>
        </div>
    </div>

    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>



