<section data-aos="zoom-in-up" class="section">
    <div class="tile is-ancestor">
        <div class="tile is-4 is-parent">
            <div class="tile is-child">
                <figure class="image is-square">
                    <img class="" src="https://i.scdn.co/image/ab6761610000e5ebe6561c7125f31a0c6f12c8f2">
                </figure>
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="tile is-child">
                <p class="title is-2" style="">
                    Sonny Purini
                </p>
                <p class="subtitle is-4" style="">
                    Kiazza di Sangue
                </p>

                <p class="subtitle is-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae tristique est, porttitor finibus ipsum. Pellentesque eu eleifend orci. Nunc ut justo leo. Pellentesque venenatis augue leo, varius vulputate velit blandit vitae. Aliquam id justo aliqua
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae tristique est, porttitor finibus ipsum. Pellentesque eu eleifend orci. Nunc ut justo leo. Pellentesque venenatis augue leo, varius vulputate velit blandit vitae. Aliquam id justo aliqua

                </p>
            </div>

            <div class="tile is-child">
                <button class="button is-primary">Visualizza Profilo</button>
            </div>

        </div>
    </div>
</section>