<div class="hero is-large is-link has-background" style=" margin-top: 10px; margin-bottom:10px; background-color: white">

    <div class="mySlides">
        <img  class="hero-background is-transparent" src="https://i.ytimg.com/vi/zprtwuX4vww/maxresdefault.jpg">
        <div class="hero-body" >
            <div class="container" style="z-index: 1;">
                <p class="title is-1" style="color: #0a0a0a">
                    <a href="#">Titolo post</a>
                </p>
                <p class="subtitle is-4" style="color: #0a0a0a">
                    Sottotitolo post
                </p>
            </div>
        </div>
    </div>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

</div>