<section data-aos="zoom-in-up" class="section">
    <h1 class="title is-1">Chi siamo:</h1>
    <h2 class="subtitle is-3" style="color: white">
        Kiazza Mob è un  <strong>collettivo</strong> di Deejays, Rappers e Producers ,che raduna le più
        influenti realtà hip hop leccesi. Fondata nel 2018 raggruppa gruppi
        come Illegal Meeting , Float a Flow e Kiazza di Sangue , oltre ad altri
        artisti solisti. La mission del collettivo è promuovere la realtà hip hop leccese, messa da parte
        dal resto della scena dello stivale perchè lontana dalle città più "industriali". Questo ha da sempre
        permesso un approccio alla musica più genuino e una ricerca a ritroso di uno stile originale.
    </h2>
</section>

<section data-aos="zoom-in-up" class="section">
    <div style="height: 100%">
        <h1 class="title is-2">Le Crew:</h1>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child" style="text-align: left">
                <figure class="image image is-square">
                    <img src="https://f4.bcbits.com/img/0009050892_10.jpg">
                </figure>
            </article>
        </div>

        <div class="tile is-parent">
            <article class="tile is-child homepage-element">
                <figure class="image image is-square">
                    <img src="https://i1.sndcdn.com/artworks-Oj1nohEvSviGs2cx-yrp5Og-t500x500.jpg">
                </figure>
            </article>
        </div>

        <div class="tile is-parent">
            <article class="tile is-child homepage-element">
                <figure class="image image is-square">
                    <img src="https://is5-ssl.mzstatic.com/image/thumb/Music114/v4/48/05/73/480573f7-33e1-cb8d-5ad1-5833a8ada50a/artwork.jpg/1200x1200bf-60.jpg">
                </figure>
            </article>
        </div>
    </div>
</section>