@charset "UTF-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Inter:400,700');



// variabili dei colori del brand
// Color Palette of the application
$background:#1B1B1B;
$background-dark:#101010;
$headline:#dbdbdb;
$paragraph:#dedede;
$primary-color:#348587;
$secondary-color:#dae8e8;

//Over-Write dei componenti di bulma
$body-background-color:$background;

$primary: $primary-color;

$card-background-color: $primary;

$control-border-width: 2px;
$input-shadow: none;

$input-placeholder-color:$headline;
$input-color:$headline;


$navbar-item-img-max-height:7.75rem;

$navbar-background-color : $background;
$navbar-dropdown-background-color:$background;

$navbar-item-color:$paragraph;
$navbar-item-active-color:$paragraph;
$navbar-item-hover-color:$paragraph;
$navbar-dropdown-item-color:$background-dark;
$navbar-dropdown-item-hover-color:$paragraph;
$navbar-dropdown-item-active-background-color:$background-dark;
$navbar-item-hover-background-color:$background-dark;

$table-row-hover-background-color:$secondary-color;
$table-row-active-background-color:$secondary-color;

$title-color: $headline;

$tabs-toggle-link-active-background-color:$paragraph;
$tabs-toggle-link-active-color:$background-dark;

$input-color: $background;
$input-placeholder-color: $background;
$input-disabled-background-color: $headline;

$subtitle-color: $paragraph;

$footer-background-color: $background;




// Import only what you need from Bulma

@import "~bulma/sass/elements/_all.sass";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/message.sass";
@import "~bulma/sass/components/tabs.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/layout/_all.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/grid/tiles.sass";
@import "~bulma/sass/elements/container";


