{% extends 'base.html.twig' %}

{% block title %}Hello ConfigurazioneController!{% endblock %}

{% block body %}
<div class="container">

        <section class="section container">
            <div class="tabs is-toggle is-toggle-rounded">
                <ul>
                    <li class="is-active">
                        <a>
                            <span class="icon is-small"><i class="fa fa-user"></i></span>
                            <span>Utenti</span>
                        </a>
                    </li>

                    <li>
                        <a>
                            <span class="icon is-small"><i class="fa fa-users"></i></span>
                            <span>Crew</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section">
            <h1 class="title is-2">Utenti attivi sul sistema</h1>
            <h1 class="title is-5">Visualizza informazioni riguardo agli utenti registrati sul sistema</h1>
            {% include 'configurazione/elements/tabella-utenti.html.twig' with {'users': users} %}
        </section>

        <section class="section">
            <h1 class="title is-2">Aggiungi Utente Al Sistema</h1>
            <h1 class="title is-5">Crea un codice autorizzazione e assegna un nome provvisorio all'utente</h1>
            <div class="box">
                <button data-target="modal-aggiungi-cod-auth" class="js-modal-trigger button is-link aggiungi-user"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                {% include 'configurazione/elements/tabella-utenti-in-attesa.html.twig' with {'codAuths': codAuths} %}
            </div>
        </section>

    <div id="modal-aggiungi-cod-auth" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box modal-box">

                {{ form_start(formCodAuth) }}
                {{ form_label(formCodAuth.codice) }}
                {{ form_widget(formCodAuth.codice, {'attr': {'readonly': 'readonly'}}) }}
                {{ form_end(formCodAuth) }}
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</div>


    <script>
        let modal = $('.modal-box');
        let modalTitle = $('.modal-title');
        let subtitle = jQuery('<h1/>', {class:'title is-5 modal-title',text:'Inserisci un nome provvisorio per il tuo utente'});
        $('.js-modal-trigger').on('click', function(){
            modalTitle.empty();
            let codeAuth = makeAuthCode(6);
            let title = jQuery('<h1/>', {class:'title is-2 modal-title',text:'Il codice segreto per attivare l\'utenza è ' + codeAuth});
            let inputCodAuth = $("#cod_auth_form_codice");
            inputCodAuth.val(codeAuth);
            title.appendTo(modalTitle);
            subtitle.appendTo(modalTitle);
        });

        $('#add-cod-auth').on('click', function (){
            $('#modal-aggiungi-cod-auth').attr('class', 'modal');

            let username = $('.modal-input-usrn').val();
            let auth = $('.modal-input-auth').val();

            let form = $('.form-configurazione');

            let hiddenUsrn = jQuery('<input/>', {type:'hidden', value: username}).appendTo(form);
            let hiddenAuth = jQuery('<input/>', {type:'hidden', value: auth}).appendTo(form);

        });

        function makeAuthCode(length) {
            var result           = '';
            var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for ( var i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }



        document.addEventListener('DOMContentLoaded', () => {
            // Functions to open and close a modal
            function openModal($el) {
                $el.classList.add('is-active');
            }

            function closeModal($el) {
                $el.classList.remove('is-active');
            }

            function closeAllModals() {
                (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                    closeModal($modal);
                });
            }

            // Add a click event on buttons to open a specific modal
            (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
                const modal = $trigger.dataset.target;
                const $target = document.getElementById(modal);

                $trigger.addEventListener('click', () => {
                    openModal($target);
                });
            });

            // Add a click event on various child elements to close the parent modal
            (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
                const $target = $close.closest('.modal');

                $close.addEventListener('click', () => {
                    closeModal($target);
                });
            });

            // Add a keyboard event to close all modals
            document.addEventListener('keydown', (event) => {
                const e = event || window.event;

                if (e.keyCode === 27) { // Escape key
                    closeAllModals();
                }
            });
        });
    </script>

    <script>
        let list = $('li');

        list.on('click', function (){
            toggleTabElements(list,$(this));
            let id = $(this).attr('id');
        });

        function toggleTabElements(list,element){
            list.attr('class', '');
            $(element).attr('class', 'is-active');
        }

        let buttonConferma = $('.conferma-elimina');
        $('.elimina-cod-auth').on('click', function (){
            let id = $(this).attr('id');
            buttonConferma.attr('id', id);
        });

        buttonConferma.on('click', function (){
            let id = $(this).attr('id');
            ajaxDeleteCodAuth(id);
        });


        function ajaxDeleteCodAuth(id){
            $.ajax({
                url: "http://127.0.0.1:8000/ajax-elimina-cod-auth/" + id,
                success: function (data){
                    $('#tr-cod-auth-' + id).remove();
                    $('#modal-conferma-eliminazione').removeClass('is-active')

                }
            });
        }


    </script>
{% endblock %}
